.nav {
    background: #7d6f4e;
    padding: 10px 0;
}

.nav-link {
    color: #aaa;
}

.icon {
    width: 3em;
    height: 3em;
}

.icon-test {
    width: 3em;
    height: 3em;
}

